cases/small/ais/xsd/ais1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<!-- Intelligent Datatypes, Restricted Ranges -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="positionReport">
		<xs:complexType>
			<xs:attribute name="userId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999999999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="latitude" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-90" />
						<xs:maxInclusive value="91" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="longitude" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-180" />
						<xs:maxInclusive value="181" />
					</xs:restriction>
				</xs:simpleType>			
			</xs:attribute>
			<xs:attribute name="messageId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="navStatus" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="timeStamp" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="63" />
					</xs:restriction>
				</xs:simpleType>			
			</xs:attribute>
			<xs:attribute name="rateOfTurn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:minInclusive value="-128" />
						<xs:maxInclusive value="127" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="trueHeading" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="511" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="repeatIndicator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="speedOverGround" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="1023" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="courseOverGround" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="3600" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="positionAccuracy" type="xs:boolean" use="required"/>
			<xs:attribute name="specialManoeuvre" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="positionReports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="positionReport" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
