cases/small/ais/xsd/ais2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<!-- Intelligent Datatypes, Unrestricted Ranges -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="positionReport">
		<xs:complexType>
			<xs:attribute name="userId" type="xs:unsignedInt" use="required" />
			<xs:attribute name="latitude" type="xs:decimal" use="required" />
			<xs:attribute name="longitude" type="xs:decimal" use="required" />
			<xs:attribute name="messageId" type="xs:unsignedByte" use="required" />
			<xs:attribute name="navStatus" type="xs:unsignedByte" use="required" />
			<xs:attribute name="timeStamp" type="xs:unsignedByte" use="required" />
			<xs:attribute name="rateOfTurn" type="xs:byte" use="required" />
			<xs:attribute name="trueHeading" type="xs:unsignedShort" use="required" />
			<xs:attribute name="repeatIndicator" type="xs:unsignedByte" use="required" />
			<xs:attribute name="speedOverGround" type="xs:unsignedShort" use="required"/>
			<xs:attribute name="courseOverGround" type="xs:unsignedShort" use="required"/>
			<xs:attribute name="positionAccuracy" type="xs:boolean" use="required"/>
			<xs:attribute name="specialManoeuvre" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="positionReports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="positionReport" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
