cases/small/ais/xsd/ais4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<!-- No Datatypes -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="positionReport">
		<xs:complexType>
			<xs:attribute name="userId" use="required"/>
			<xs:attribute name="latitude" use="required"/>
			<xs:attribute name="longitude" use="required"/>
			<xs:attribute name="messageId" use="required"/>
			<xs:attribute name="navStatus" use="required"/>
			<xs:attribute name="timeStamp" use="required"/>
			<xs:attribute name="rateOfTurn" use="required"/>
			<xs:attribute name="trueHeading" use="required"/>
			<xs:attribute name="repeatIndicator" use="required"/>
			<xs:attribute name="speedOverGround" use="required"/>
			<xs:attribute name="courseOverGround" use="required"/>
			<xs:attribute name="positionAccuracy" use="required"/>
			<xs:attribute name="specialManoeuvre" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="positionReports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="positionReport" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
