cases/small/owm/xsd/owm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="city">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coord"/>
				<xs:element ref="country"/>
				<xs:element ref="sun"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999999"/>				
				</xs:restriction>
			</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="clouds">
		<xs:complexType>
			<xs:attribute name="value" type="xs:byte" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="coord">
		<xs:complexType>
			<xs:attribute name="lon" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-180"/>
						<xs:maxInclusive value="180"/>	
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lat" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-90"/>
						<xs:maxInclusive value="90"/>	
					</xs:restriction>
				</xs:simpleType>			
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="country" type="xs:string"/>
	
	<xs:element name="current">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="city"/>
				<xs:element ref="temperature"/>
				<xs:element ref="humidity"/>
				<xs:element ref="pressure"/>
				<xs:element ref="wind"/>
				<xs:element ref="clouds"/>
				<xs:element ref="visibility"/>
				<xs:element ref="precipitation"/>
				<xs:element ref="weather"/>
				<xs:element ref="lastupdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="direction">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="360"/>
					</xs:restriction>
				</xs:simpleType>			
			</xs:attribute>
			<xs:attribute name="code" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="current" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="humidity">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="lastupdate">
		<xs:complexType>
			<xs:attribute name="value" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="precipitation">
		<xs:complexType>
			<xs:attribute name="mode" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:decimal"/>
			<xs:attribute name="unit" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="pressure">
		<xs:complexType>
			<xs:attribute name="value" type="xs:decimal" use="required"/>
			<xs:attribute name="unit" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		
	<xs:element name="speed">
		<xs:complexType>
			<xs:attribute name="value" type="xs:decimal" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="sun">
		<xs:complexType>
			<xs:attribute name="rise" type="xs:dateTime" use="required"/>
			<xs:attribute name="set" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="temperature">
		<xs:complexType>
			<xs:attribute name="value" type="xs:decimal" use="required"/>
			<xs:attribute name="min" type="xs:decimal" use="required"/>
			<xs:attribute name="max" type="xs:decimal" use="required"/>
			<xs:attribute name="unit" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="visibility">
		<xs:complexType/>
	</xs:element>
	
	<xs:element name="weather">
		<xs:complexType>
			<xs:attribute name="number" type="xs:short" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="icon" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="wind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="speed"/>
				<xs:element ref="direction"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
