cases/large/pdml/xsd/pdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pdml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="packet" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="time" use="required"/>
			<xs:attribute ref="creator" use="required"/>
			<xs:attribute ref="version" use="required"/>
			<xs:attribute ref="capture_file" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="proto"/>
				<xs:element ref="field"/>
			</xs:choice>
			<xs:attribute name="pos" type="xs:int"/>
			<xs:attribute ref="hide"/>
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="show"/>
			<xs:attribute ref="size"/>
			<xs:attribute ref="value"/>
			<xs:attribute ref="showname"/>
			<xs:attribute ref="unmaskedvalue"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="proto">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="proto" />
				<xs:element ref="field"/>
			</xs:choice>
			<xs:attribute name="pos" type="xs:short"/>
			<xs:attribute ref="hide"/>
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="size"/>
			<xs:attribute ref="showname"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="packet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="proto" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="hide" type="xs:string"/>
	<xs:attribute name="name" type="xs:string"/>
	<xs:attribute name="show" type="xs:string"/>
	<xs:attribute name="size" type="xs:int"/>
	<xs:attribute name="time" type="xs:string"/>
	<xs:attribute name="value" type="xs:string"/>
	<xs:attribute name="creator" type="xs:string"/>
	<xs:attribute name="version" type="xs:byte"/>
	<xs:attribute name="showname" type="xs:string"/>
	<xs:attribute name="capture_file" type="xs:string"/>
	<xs:attribute name="unmaskedvalue" type="xs:string"/>
</xs:schema>
